{{define "title"}}Directory overview{{end}}
{{define "scripts"}}{{end}}

{{ define "body" }}
	<small>{{ .Start.Format "02 Jan 2006" }} - {{ .End.Format "02 Jan 2006" }}</small>

	<p><a href="/events/add">Add Event</a></p>

	<hr>

	{{ if eq (len .Events) 0 }}
		<p>Empty directory</p>
	{{ end }}

	{{ range .Events }}
		<article>
			<h2>{{ .Title }}</h2>
			<p>{{ .Description }}</p>
			<p>{{ .Start.Format "02 Jan 2006 15:04" }} - {{ .End.Format "02 Jan 2006 15:04" }}</p>
			{{ if .Location }}
				<p>📍 {{ .Location }}</p>
			{{ end }}
			{{ if .Description }}
				<p>🖹 {{ .Description }}</p>
			{{ end }}
		</article>
	{{ end }}
{{ end }}