{{define "title"}}Directory overview{{end}}
{{define "scripts"}}{{end}}

{{ define "body" }}
	<form method="POST" action="/calendar/{{ .CalendarName }}/events">
		<label for="title">Title</label><br>
		<input type="text" id="title" name="title" required><br><br>

		<label for="start">Start</label><br>
		<input type="datetime-local" id="start" name="start" required><br><br>

		<label for="end">End</label><br>
		<input type="datetime-local" id="end" name="end" required><br><br>

		<label for="location">Location</label><br>
		<input type="text" id="location" name="location"><br><br>

		<label for="description">Description</label><br>
		<textarea id="description" name="description"></textarea><br><br>

		<button type="submit">Add event</button>
	</form>
{{ end }}